/* Styles CSS */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/058/152/587/large/scott-hammontree-mcmaricopaaz-an-epic-scenic-minecraft-landscape-in-the-style-of-b6685bc2-929d-4543-b901-1f60c198331e.jpg?1673502217');
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.button-container {
    margin: 20px 0;
}

.btn {
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
    padding: 15px 30px;
    border-radius:7px;
    transition: background-color 0.3s;
}

.btn-down {
    background-color: #ffb100;
}

.btn-down:hover {
    background-color: #ff8c00;
}

.btn-down2 {
    background-color: #ffb100;
}

.btn-down2:hover {
    background-color: #ff8c00;
}


.btn-Quit {
    background-color: red;
}

.btn-Quit:hover {
    background-color: firebrick;
}
#features {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    width: 30%;
    margin: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#screenshots {
    padding: 50px 20px;
    background-color: #eaeaea;
    text-align: center;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshot-gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* 100% * number of images */
}

.screenshot-gallery img {
    width: 33.33%; /* 100% / 3 images */
    flex-shrink: 0;
    border-radius: 10px;
}

.arrow {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

#download {
    background-color: #ffb100;
    color: white;
    padding: 50px 20px;
    text-align: center;
}

footer {
    color: black;
    padding: 20px;
    text-align: left;
}