/* Styles de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-image: url('https://i.imgur.com/bvMSnzu.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.header-content {
    background: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

.join-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.join-btn:hover {
    background-color: #45a049;
}

.server-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
    background-color: white;
}

.info-left {
    max-width: 500px;
}

.info-left h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.info-left p {
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

/* Styles pour l'IP du serveur avec un look plus élégant */
.server-ip-wrapper {
    margin-top: 30px;
}

.server-ip {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    width: 27%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.server-ip input {
    flex: 1;
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    border: none;
    font-size: 1.1em;
    background-color: transparent;
}

.server-ip button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.server-ip button:hover {
    background-color: #45a049;
}

.info-right img {
    width: 400px;
    border-radius: 10px;
}

#screenshots {
    padding: 50px 20px;
    background-color: #eaeaea;
    text-align: center;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.screenshot-gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; 
    gap: 10px; 
}

.screenshot-gallery img {
    width: 33.33%; 
    width: calc((100% / 3) - 10px); 
    flex-shrink: 0;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out; 
}

.arrow {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

.join-us {
    padding: 50px 20px;
    text-align: center;
    color: b;
}

.join-us h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.image-popup {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.image-popup img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.btn {
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
    padding: 15px 30px;
    border-radius:0px;
    transition: background-color 0.3s;
}

.btn-down {
    background-color:#ffb100; ;
}

.btn-down:hover {
    background-color:#ff8c00 ;
}

.join-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.join-link {
    padding: 15px 30px;
    background-color: #45a049;
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.join-link:hover {
    background-color: #327434;
}

.discord-link {
    background-color: #7289DA;
    color: white;
}

.discord-link:hover {
    background-color: #5a73b5;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #2d2d2d;
    color: white;
}


