/* Styles CSS */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-image: url('https://cdnb.artstation.com/p/assets/images/images/058/152/587/large/scott-hammontree-mcmaricopaaz-an-epic-scenic-minecraft-landscape-in-the-style-of-b6685bc2-929d-4543-b901-1f60c198331e.jpg?1673502217');
    background-size: cover;
    height: 100vh;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
}

nav ul {
    list-style-type: none;
    display: flex;
}

.image-popup {
    display: none; /* Cachée par défaut */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond noir semi-transparent */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.image-popup img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.btn {
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 15px;
    padding: 15px 30px;
    border-radius:0px;
    transition: background-color 0.3s;
}

.btn-amis {
    background-color: rgb(9, 221, 9);
}

.btn-amis:hover {
    background-color: green;
}

.btn-down {
    background-color: #ffb100;
}

.btn-down:hover {
    background-color: #ff8c00;
}
.btn-Contact {
    background-color: green;
}

.btn-Contact:hover {
    background-color: rgb(0, 65, 0);
}

.btn-serv {
    background-color: rgb(3, 101, 181);
}

.btn-serv:hover {
    background-color: rgb(2, 63, 112);
}

.btn-journal {
    background-color: rgb(91, 46, 46);
}

.btn-journal:hover {
    background-color: rgb(52, 26, 26);
}

#server {
    padding: 50px 20px;
    background-color: #ffffff;
    text-align: center;
    color: black
}

#features {
    background-color: white;
    padding: 50px 20px;
    text-align: center;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    width: 30%;
    margin: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#screenshots {
    padding: 50px 20px;
    background-color: #eaeaea;
    text-align: center;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.screenshot-gallery {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; 
    gap: 10px; 
}

.screenshot-gallery img {
    width: 33.33%; /* 100% / 3 images */
    width: calc((100% / 3) - 10px); /* Ajuste la largeur pour prendre en compte l'espacement */
    flex-shrink: 0;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out; /* Ajoute une animation fluide */
}

.arrow {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    z-index: 10;
    transform: translateY(-50%);
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

#Maj {
    background-color: #ffb100;
    color: white;
    padding: 50px 20px;
    text-align: left;
}

#Server {
    background-color: #bac7c86f;
    color: rgb(0, 0, 0);
    padding: 50px 20px;
    text-align: center;
}

footer {
    color: black;
    padding: 20px;
    text-align: center;
}
